<%- include('../partials/header.ejs') %>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
<%- include('../partials/navbar.ejs') %>
<%- include('../partials/menu.ejs') %>
 

  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Cadastro de nova sub despesa</h1>
          </div>
          <div class="col-sm-6">
           
          </div>
        </div>
      </div>
    </section>

        <div class="card-header">
     <%- messages.info ? `<div class="alert alert-info"> <button type="button" class="close" data-dismiss="alert"
          aria-hidden="true" > &times; </button> ${messages.info} </div>` : '' %> </div>
          
    <section class="content">     
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Preencha os campos</h3>
          <div class="card-tools">
             <a href="/sub_despesa/index" type="submit" class="btn btn-primary btn-block">Voltar</a>  
          </div>
        </div>
        <form action="/sub_despesa/update" method="post">
        <div class="card-body">          
               <div class="row">
                    <div class="col-sm-12">
                         <label>Nome</label>    
                          <input type="text" value="<%= data[0].nome %>" class="form-control" name="nome" placeholder="Nome" required>     
                           <input type="text" value="<%= data[0].id %>" name="id" hidden>              
                            <input type="text" value="<%= data[0].id_empresa %>" name="id_empresa" hidden>                             
                    </div> 
                    </div>


                   <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                         <label>Despesa</label>
                           <select class="form-control select2bs4" style="width: 100%;" name="id_despesa" required>
                              <% desp.forEach(function(dados) { %>
                              <option value="<%= dados.id %>" <%= dados.id == data[0].id_despesa ? 'selected' : '' %>><%= dados.nome %></option>      
                            <% }); %>


                            </select>
                         </div>           
                    </div> 
                  </div>

                      <div class="row">
                         <div class="col-sm-12">
                           <div class="form-group">
                            <label>Status</label>
                              <select class="form-control select2bs4" style="width: 100%;" name="status" required>
                               <option value="S" <%= data[0].status === 'S' ? 'selected' : '' %>>Ativo</option>
                               <option value="N" <%= data[0].status === 'N' ? 'selected' : '' %>>Desativado</option>
                              </select>
                          </div>           
                       </div> 
                  </div>


                </div> 
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary btn-block" >Salvar</button>
            </div>
          </div>

        </form>

      </div>
    </section>
  </div>

 <%- include('../partials/footer.ejs') %>
  <aside class="control-sidebar control-sidebar-dark">
  </aside>
</div>
 <%- include('../partials/script.ejs') %>
</body>
</html>
